<!DOCTYPE html>
<html>
  <head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
    rel="stylesheet" integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
    crossorigin="anonymous">
  </head>

  <body>
    <h1> PLACE BETS </h1>
    <form action='/logic' method='POST'>
      <table>
      <div class='form-group'>
        <thead>
        <tr><th>    </th><th>BTC( {{BTC_USD}} )</th><th>ETH</th><th>ADA</th></tr>
        </thead>
      <tbody>
      <tr><td>{{name0}}</td><td><input type="number" id="BTC0" name='BTC0' required=True
        placeholder="USD"></td>
        <td><input type="number" id="ETH0" name='ETH0' required=True
          placeholder="USD"></td>
        <td><input type="number" id="ADA0" name='ADA0' required=True
          placeholder="USD"></td></tr>
      <tr><td>{{name1}}</td><td><input type="number" id="BTC1" name='BTC1' required=True
        placeholder="USD"></td>
        <td><input type="number" id="ETH1" name='ETH1' required=True
          placeholder="USD"></td>
        <td><input type="number" id="ADA1" name='ADA1' required=True
          placeholder="USD"></td></tr>
      <tr><td>{{name2}}</td><td><input type="number" id="BTC2" name='BTC2' required=True
        placeholder="USD"></td>
        <td><input type="number" id="ETH2" name='ETH2' required=True
          placeholder="USD"></td>
        <td><input type="number" id="ADA2" name='ADA2' required=True
          placeholder="USD"></td></tr>
      </tbody>
      </div>
      <input class='btn btn_primary' type='submit' value="submit">
      </table>
    </form>
  </body>
</html>
