<table>
<thead>
<tr><th>    </th><th style="text-align: right;">  Total USD</th><th>BTC(37973.145)  </th><th>ETH(2559.83)  </th><th>USDT(1.002)  </th><th>BNB(343.639)  </th><th>ADA(1.601)  </th><th>XRP(1.053)  </th><th>DOGE(0.361)  </th><th>DOT(25.168)  </th><th>ICP(151.787)  </th><th>USDC(1.0)  </th></tr>
</thead>
<tbody>
<tr><td>Evan</td><td style="text-align: right;">      994.9</td><td>0.0262(994.9)   </td><td>0.0(0.0)      </td><td>0.0(0.0)     </td><td>0.0(0.0)      </td><td>0.0(0.0)    </td><td>0.0(0.0)    </td><td>0.0(0.0)     </td><td>0.0(0.0)     </td><td>0.0(0.0)      </td><td>0.0(0.0)   </td></tr>
</tbody>
</table>